.header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100vh;
  width: 100%;

  &__title {
    font-size: 3.6rem;
    text-align: center;
    text-transform: capitalize;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: 120px;
    width: 80%;

    background: $comp;
    border-radius: 50px;

    div {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;

          height: 100%;
          width: 3px;

          background: linear-gradient(180deg, $white, white, $white);
        }
      }
    }

    &__tickets {
      display: flex;

      span {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 80%;

        border-radius: 30px;
      }

      h3 {
        height: 100%;
        width: 100%;

        &::after {
          font-size: 1rem;

          content: "Prueba Suerte";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          padding-left: 1rem;

          height: 100%;
          width: 100%;

          background: #313153;
          border-radius: 30px;
        }
      }

      &__btn {
        color: $white;
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;

        z-index: 3;

        padding: 1rem 2rem;

        background: linear-gradient(90deg, $l-orange, $orange);
        border-radius: 30px;
        cursor: pointer;
      }
    }
  }
}

section {
  width: 80%;

  margin: 0 auto 4rem auto;
}

.shop {
  height: 60vh;

  &__tickets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    &__ticket {
      position: relative;

      flex: 0 0 20rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding: 2rem;

      background-clip: padding-box;
      border: 5px solid transparent;
      border-radius: 1rem;
      background: $comp;
      cursor: pointer;
      transition: $trans;

      p {
        color: $grey;
        transition: all;
      }

      h3 {
        display: flex;
        justify-content: space-between;

        width: 100%;

        span {
          color: $l-orange;
        }
      }

      &:after {
        content: "";
        position: absolute;

        z-index: -1;

        margin: -8px;
        border-radius: inherit;
        background: linear-gradient($l-orange, $orange);
      }

      &:hover {
        &:after {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        &>p {
          color: $white;
        }
      }

      &--cart{
        flex: 0 0 3rem;
      }
    }
  }
}

.ticket {
  padding: 4rem 0;

  &__form {
    display: flex;
    justify-content: center;
    gap: 3rem;

    &__btn {
      flex: 0 0 12rem;
      @include gradient__btn(linear-gradient(90deg, $l-orange, $orange));
    }

    label {
      p {
        margin-bottom: .4rem;
      }

      input {
        color: $black;

        margin-top: .4rem;
        padding: .6rem 1rem;

        border: 3px solid $black;
        border-radius: 1rem;
        outline: none;
        transition: $trans;

        &:hover,
        &:focus {
          border-color: $l-orange;
        }
      }
    }
  }
}

.cart{
  margin-top: 100px;
}

.deletebtn{
  padding: .3rem;

  border-radius: .4rem;
  background: $red;
  border: none;
  cursor: pointer;
}